blessed==1.49.0
certifi==2026.7.22
charset-normalizer==3.5.1
console==0.9912
distlib==0.4.3
editor==1.8.0
ezenv==0.92
filelock==3.32.4
idna==3.19
inquirer==3.4.1
jinxed==2.1.0
markdown-it-py==4.2.0
mdurl==0.1.2
packaging==26.3
pipenv==2026.8.0
platformdirs==4.11.3
Pygments==2.21.0
python-discovery==1.5.2
readchar==4.2.2
requests==2.34.2
rich==15.0.0
runs==1.3.0
setuptools==84.0.0
urllib3==2.7.0
virtualenv==21.7.4
wcwidth==0.8.3
xmod==1.10.0
